<!DOCTYPE html>
<html>
<body id="formstudent">
<%= form_for(@student) do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Name %>
    <%= f.text_field :Name %>
  </div>
  
  <br>
  
  <div class="field">
    <%= f.label :Gender %>
    <%= f.select :Gender, [['Female','Female'],['Male','Male'],['Other','Other']] %>
  </div>
  
  <br>
  
  <div class="field">
    <%= f.label :'Weight (lbs)' %>
    <%= f.text_field :Weight %>
  </div>
  
  <br>
  
  <div class="field">
    <%= f.label :'Height (cm)' %>
    <%= f.text_field :Height %>
  </div>
  
  <br>
  
  <div class="field">
    <%= f.label :Colour %>
    <%= f.select :Colour, [['Silver','Silver'],['Gray','Gray'],['Red','Red'],['Maroon','Maroon'],['Orange','Orange'],['Olive','Olive'],['Lime','Lime'],['Green','Green'],['Teal','Teal'],['Blue','Blue'],['Navy','Navy'],['Purple','Purple']] %>
  </div>
  
  <br>
  
  <div class="field">
    <%= f.label :GPA %>
    <%= f.text_field :GPA %>
  </div>
  
  <br>
  
  <div class="field">
    <%= f.label :'Campus' %>
    <%= f.select :Location, [['Burnaby','Burnaby'],['Surrey','Surrey'],['Vancouver','Vancouver']] %>
  </div>
  
  <br>
  
  <div class="field">
    <%= f.label :Faculty %>
    <%= f.select :Faculty, [['Arts and Social Sciences','Arts and Social Sciences'],['Business','Business'],['Communication, Art and Technology','Communication, Art and Technology'],['Education','Education'],['Environment','Environment'],['Health Sciences','Health Sciences'],['Science','Science'],['Applied Sciences','Applied Sciences']] %>
  </div>
  
  <br>
  
  <div class="actions">
    <%#  <%= f.submit 'Update Student'%>
    <%= f.submit 'Update Student', id:  'submit_class_1' %>
  </div>
  
  <br>
<% end %>
</body>
</html>