<!DOCTYPE html>
<html id="mainhtml">
  
  <body id="mainbody">
<head>
<link rel="stylesheet" type="text/css" href="students.css">
<script src="students.js">
</script>

</head>

<p id="notice"><%= notice %></p>

<h1 id="mainh1">Student Database</h1>  

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Gender</th>
      <th>Weight</th>
      <th>Height</th>
      <th>Colour</th>
      <th>GPA</th>
      <th>Campus</th>
      <th>Faculty</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.Name %></td>
        <td><%= student.Gender %></td>
        <td><%= student.Weight %></td>
        <td><%= student.Height %></td>
        <td><%= student.Colour %></td>
        <td><%= student.GPA %></td>
        <td><%= student.Location %></td>
        <td><%= student.Faculty %></td>
        <td><%= link_to 'Edit Profile', edit_student_path(student) %></td>
        <td><%= link_to 'Remove this Student', student, method: :delete, data: { confirm: 'Are you sure? This action cannot be undone.' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "<button>Add New Student</button>".html_safe, new_student_path, :id=>"open-contacts-dialog-btn", :class=>"inbox-sf-add-btn tip" %>
<br>
<br>
<button id="learnfeatures" type="button" onclick="learnFunction()" >Learn Features</button>

<script>
function learnFunction() {
    alert("There are many ways this application displays the students; toggle the 'Click to Display...' boxes to see!\n\nStudents are drawn as boxes with border coloured by gender (Blue=Male, Pink=Female, Yellow=Other), with width and height proportional to their weight and height, filled according to colour.\n\nIn addition to name and GPA, the Body Mass Index display also shows each student's BMI.");
}
</script>




<br>
<br>









<p id="panel1head" class="flip" onclick="toggleFunction1()">Click to Display Students (Normal View)</p>

<div id="panel1">

    <% @students.each do |disp| %>
        <svg width="<%=disp.Weight%>" height="<%=disp.Height%>">

            <% if disp.Gender == "Male" %>
                <rect width = "<%=disp.Weight%>" height="<%=disp.Height%>" style="fill:<%=disp.Colour%>;stroke-width:5;stroke:aqua" />    
                <text  x="12" y="12" text-anchor="start" alignment-baseline="start" fill="white"> 
                    <%= disp.Name %>, GPA: <%= disp.GPA %> 
                </text>
            <% end %>
            
            <% if disp.Gender == "Female" %>
                <rect width = "<%=disp.Weight%>" height="<%=disp.Height%>" style="fill:<%=disp.Colour%>;stroke-width:5;stroke:fuchsia" />    
                <text  x="12" y="12" text-anchor="start" alignment-baseline="start" fill="white"> 
                    <%= disp.Name %>, GPA: <%= disp.GPA %> 
                </text>
            <% end %>
            
            <% if disp.Gender == "Other" %>
                <rect width = "<%=disp.Weight%>" height="<%=disp.Height%>" style="fill:<%=disp.Colour%>;stroke-width:5;stroke:yellow" />    
                <text  x="12" y="12" text-anchor="start" alignment-baseline="start" fill="white"> 
                    <%= disp.Name %>, GPA: <%= disp.GPA %> 
                </text>
            <% end %>
            
        </svg>
    <% end %>





</div>


















  <br>




<p id="panel2head" class="flip" onclick="toggleFunction2()">Click to Display Students Grouped by Campus</p>

<div id="panel2">
  
  <h3>Burnaby</h3>
  

  
  
    <% @students.each do |disp| %>

    <% if disp.Location == "Burnaby" %>

        <svg width="<%=disp.Weight%>" height="<%=disp.Height%>">

            <% if disp.Gender == "Male" %>
                <rect width = "<%=disp.Weight%>" height="<%=disp.Height%>" style="fill:<%=disp.Colour%>;stroke-width:5;stroke:aqua" />    
                <text  x="12" y="12" text-anchor="start" alignment-baseline="start" fill="white"> 
                    <%= disp.Name %>, GPA: <%= disp.GPA %> 
                </text>
            <% end %>
            
            <% if disp.Gender == "Female" %>
                <rect width = "<%=disp.Weight%>" height="<%=disp.Height%>" style="fill:<%=disp.Colour%>;stroke-width:5;stroke:fuchsia" />    
                <text  x="12" y="12" text-anchor="start" alignment-baseline="start" fill="white"> 
                    <%= disp.Name %>, GPA: <%= disp.GPA %> 
                </text>
            <% end %>
            
            <% if disp.Gender == "Other" %>
                <rect width = "<%=disp.Weight%>" height="<%=disp.Height%>" style="fill:<%=disp.Colour%>;stroke-width:5;stroke:yellow" />    
                <text  x="12" y="12" text-anchor="start" alignment-baseline="start" fill="white"> 
                    <%= disp.Name %>, GPA: <%= disp.GPA %> 
                </text>
            <% end %>
            
        </svg>
        <% end %>
    <% end %>
   <hr>

  <h3>Surrey</h3>
    <% @students.each do |disp| %>
    <% if disp.Location == "Surrey" %>
        <svg width="<%=disp.Weight%>" height="<%=disp.Height%>">

            <% if disp.Gender == "Male" %>
                <rect width = "<%=disp.Weight%>" height="<%=disp.Height%>" style="fill:<%=disp.Colour%>;stroke-width:5;stroke:aqua" />    
                <text  x="12" y="12" text-anchor="start" alignment-baseline="start" fill="white"> 
                    <%= disp.Name %>, GPA: <%= disp.GPA %> 
                </text>
            <% end %>
            
            <% if disp.Gender == "Female" %>
                <rect width = "<%=disp.Weight%>" height="<%=disp.Height%>" style="fill:<%=disp.Colour%>;stroke-width:5;stroke:fuchsia" />    
                <text  x="12" y="12" text-anchor="start" alignment-baseline="start" fill="white"> 
                    <%= disp.Name %>, GPA: <%= disp.GPA %> 
                </text>
            <% end %>
            
            <% if disp.Gender == "Other" %>
                <rect width = "<%=disp.Weight%>" height="<%=disp.Height%>" style="fill:<%=disp.Colour%>;stroke-width:5;stroke:yellow" />    
                <text  x="12" y="12" text-anchor="start" alignment-baseline="start" fill="white"> 
                    <%= disp.Name %>, GPA: <%= disp.GPA %> 
                </text>
            <% end %>
            
        </svg>
        <% end %>
    <% end %>
    
<hr>

    <h3>Vancouver</h3>
    <% @students.each do |disp| %>
    <% if disp.Location == "Vancouver" %>
        <svg width="<%=disp.Weight%>" height="<%=disp.Height%>">

            <% if disp.Gender == "Male" %>
                <rect width = "<%=disp.Weight%>" height="<%=disp.Height%>" style="fill:<%=disp.Colour%>;stroke-width:5;stroke:aqua" />    
                <text  x="12" y="12" text-anchor="start" alignment-baseline="start" fill="white"> 
                    <%= disp.Name %>, GPA: <%= disp.GPA %> 
                </text>
            <% end %>
            
            <% if disp.Gender == "Female" %>
                <rect width = "<%=disp.Weight%>" height="<%=disp.Height%>" style="fill:<%=disp.Colour%>;stroke-width:5;stroke:fuchsia" />    
                <text  x="12" y="12" text-anchor="start" alignment-baseline="start" fill="white"> 
                    <%= disp.Name %>, GPA: <%= disp.GPA %> 
                </text>
            <% end %>
            
            <% if disp.Gender == "Other" %>
                <rect width = "<%=disp.Weight%>" height="<%=disp.Height%>" style="fill:<%=disp.Colour%>;stroke-width:5;stroke:yellow" />    
                <text  x="12" y="12" text-anchor="start" alignment-baseline="start" fill="white"> 
                    <%= disp.Name %>, GPA: <%= disp.GPA %> 
                </text>
            <% end %>
            
        </svg>
        <% end %>
    <% end %>
  
  
</div>




















  <br>


<p id="panel3head" class="flip" onclick="toggleFunction3()">Click to Display Students Grouped by Faculty</p>

<div id="panel3">
  
  <h3>Arts and Social Sciences</h3>
    <% @students.each do |disp| %>
    <% if disp.Faculty == "Arts and Social Sciences" %>
        <svg width="<%=disp.Weight%>" height="<%=disp.Height%>">

            <% if disp.Gender == "Male" %>
                <rect width = "<%=disp.Weight%>" height="<%=disp.Height%>" style="fill:<%=disp.Colour%>;stroke-width:5;stroke:aqua" />    
                <text  x="12" y="12" text-anchor="start" alignment-baseline="start" fill="white"> 
                    <%= disp.Name %>, GPA: <%= disp.GPA %> 
                </text>
            <% end %>
            
            <% if disp.Gender == "Female" %>
                <rect width = "<%=disp.Weight%>" height="<%=disp.Height%>" style="fill:<%=disp.Colour%>;stroke-width:5;stroke:fuchsia" />    
                <text  x="12" y="12" text-anchor="start" alignment-baseline="start" fill="white"> 
                    <%= disp.Name %>, GPA: <%= disp.GPA %> 
                </text>
            <% end %>
            
            <% if disp.Gender == "Other" %>
                <rect width = "<%=disp.Weight%>" height="<%=disp.Height%>" style="fill:<%=disp.Colour%>;stroke-width:5;stroke:yellow" />    
                <text  x="12" y="12" text-anchor="start" alignment-baseline="start" fill="white"> 
                    <%= disp.Name %>, GPA: <%= disp.GPA %> 
                </text>
            <% end %>
            
        </svg>
        <% end %>
    <% end %>
<hr>
  <h3>Business</h3>
    <% @students.each do |disp| %>
    <% if disp.Faculty == "Business" %>
        <svg width="<%=disp.Weight%>" height="<%=disp.Height%>">

            <% if disp.Gender == "Male" %>
                <rect width = "<%=disp.Weight%>" height="<%=disp.Height%>" style="fill:<%=disp.Colour%>;stroke-width:5;stroke:aqua" />    
                <text  x="12" y="12" text-anchor="start" alignment-baseline="start" fill="white"> 
                    <%= disp.Name %>, GPA: <%= disp.GPA %> 
                </text>
            <% end %>
            
            <% if disp.Gender == "Female" %>
                <rect width = "<%=disp.Weight%>" height="<%=disp.Height%>" style="fill:<%=disp.Colour%>;stroke-width:5;stroke:fuchsia" />    
                <text  x="12" y="12" text-anchor="start" alignment-baseline="start" fill="white"> 
                    <%= disp.Name %>, GPA: <%= disp.GPA %> 
                </text>
            <% end %>
            
            <% if disp.Gender == "Other" %>
                <rect width = "<%=disp.Weight%>" height="<%=disp.Height%>" style="fill:<%=disp.Colour%>;stroke-width:5;stroke:yellow" />    
                <text  x="12" y="12" text-anchor="start" alignment-baseline="start" fill="white"> 
                    <%= disp.Name %>, GPA: <%= disp.GPA %> 
                </text>
            <% end %>
            
        </svg>
        <% end %>
    <% end %>
<hr>
    <h3>Communication, Art and Technology</h3>
    <% @students.each do |disp| %>
    <% if disp.Faculty == "Communication, Art and Technology" %>
        <svg width="<%=disp.Weight%>" height="<%=disp.Height%>">

            <% if disp.Gender == "Male" %>
                <rect width = "<%=disp.Weight%>" height="<%=disp.Height%>" style="fill:<%=disp.Colour%>;stroke-width:5;stroke:aqua" />    
                <text  x="12" y="12" text-anchor="start" alignment-baseline="start" fill="white"> 
                    <%= disp.Name %>, GPA: <%= disp.GPA %> 
                </text>
            <% end %>
            
            <% if disp.Gender == "Female" %>
                <rect width = "<%=disp.Weight%>" height="<%=disp.Height%>" style="fill:<%=disp.Colour%>;stroke-width:5;stroke:fuchsia" />    
                <text  x="12" y="12" text-anchor="start" alignment-baseline="start" fill="white"> 
                    <%= disp.Name %>, GPA: <%= disp.GPA %> 
                </text>
            <% end %>
            
            <% if disp.Gender == "Other" %>
                <rect width = "<%=disp.Weight%>" height="<%=disp.Height%>" style="fill:<%=disp.Colour%>;stroke-width:5;stroke:yellow" />    
                <text  x="12" y="12" text-anchor="start" alignment-baseline="start" fill="white"> 
                    <%= disp.Name %>, GPA: <%= disp.GPA %> 
                </text>
            <% end %>
            
        </svg>
        <% end %>
    <% end %>
<hr>
    <h3>Education</h3>
    <% @students.each do |disp| %>
    <% if disp.Faculty == "Education" %>
        <svg width="<%=disp.Weight%>" height="<%=disp.Height%>">

            <% if disp.Gender == "Male" %>
                <rect width = "<%=disp.Weight%>" height="<%=disp.Height%>" style="fill:<%=disp.Colour%>;stroke-width:5;stroke:aqua" />    
                <text  x="12" y="12" text-anchor="start" alignment-baseline="start" fill="white"> 
                    <%= disp.Name %>, GPA: <%= disp.GPA %> 
                </text>
            <% end %>
            
            <% if disp.Gender == "Female" %>
                <rect width = "<%=disp.Weight%>" height="<%=disp.Height%>" style="fill:<%=disp.Colour%>;stroke-width:5;stroke:fuchsia" />    
                <text  x="12" y="12" text-anchor="start" alignment-baseline="start" fill="white"> 
                    <%= disp.Name %>, GPA: <%= disp.GPA %> 
                </text>
            <% end %>
            
            <% if disp.Gender == "Other" %>
                <rect width = "<%=disp.Weight%>" height="<%=disp.Height%>" style="fill:<%=disp.Colour%>;stroke-width:5;stroke:yellow" />    
                <text  x="12" y="12" text-anchor="start" alignment-baseline="start" fill="white"> 
                    <%= disp.Name %>, GPA: <%= disp.GPA %> 
                </text>
            <% end %>
            
        </svg>
        <% end %>
    <% end %>
<hr>
  <h3>Environment</h3>
    <% @students.each do |disp| %>
    <% if disp.Faculty == "Environment" %>
        <svg width="<%=disp.Weight%>" height="<%=disp.Height%>">

            <% if disp.Gender == "Male" %>
                <rect width = "<%=disp.Weight%>" height="<%=disp.Height%>" style="fill:<%=disp.Colour%>;stroke-width:5;stroke:aqua" />    
                <text  x="12" y="12" text-anchor="start" alignment-baseline="start" fill="white"> 
                    <%= disp.Name %>, GPA: <%= disp.GPA %> 
                </text>
            <% end %>
            
            <% if disp.Gender == "Female" %>
                <rect width = "<%=disp.Weight%>" height="<%=disp.Height%>" style="fill:<%=disp.Colour%>;stroke-width:5;stroke:fuchsia" />    
                <text  x="12" y="12" text-anchor="start" alignment-baseline="start" fill="white"> 
                    <%= disp.Name %>, GPA: <%= disp.GPA %> 
                </text>
            <% end %>
            
            <% if disp.Gender == "Other" %>
                <rect width = "<%=disp.Weight%>" height="<%=disp.Height%>" style="fill:<%=disp.Colour%>;stroke-width:5;stroke:yellow" />    
                <text  x="12" y="12" text-anchor="start" alignment-baseline="start" fill="white"> 
                    <%= disp.Name %>, GPA: <%= disp.GPA %> 
                </text>
            <% end %>
            
        </svg>
        <% end %>
    <% end %>
<hr>
    <h3>Health Sciences</h3>
    <% @students.each do |disp| %>
    <% if disp.Faculty == "Health Sciences" %>
        <svg width="<%=disp.Weight%>" height="<%=disp.Height%>">

            <% if disp.Gender == "Male" %>
                <rect width = "<%=disp.Weight%>" height="<%=disp.Height%>" style="fill:<%=disp.Colour%>;stroke-width:5;stroke:aqua" />    
                <text  x="12" y="12" text-anchor="start" alignment-baseline="start" fill="white"> 
                    <%= disp.Name %>, GPA: <%= disp.GPA %> 
                </text>
            <% end %>
            
            <% if disp.Gender == "Female" %>
                <rect width = "<%=disp.Weight%>" height="<%=disp.Height%>" style="fill:<%=disp.Colour%>;stroke-width:5;stroke:fuchsia" />    
                <text  x="12" y="12" text-anchor="start" alignment-baseline="start" fill="white"> 
                    <%= disp.Name %>, GPA: <%= disp.GPA %> 
                </text>
            <% end %>
            
            <% if disp.Gender == "Other" %>
                <rect width = "<%=disp.Weight%>" height="<%=disp.Height%>" style="fill:<%=disp.Colour%>;stroke-width:5;stroke:yellow" />    
                <text  x="12" y="12" text-anchor="start" alignment-baseline="start" fill="white"> 
                    <%= disp.Name %>, GPA: <%= disp.GPA %> 
                </text>
            <% end %>
            
        </svg>
        <% end %>
    <% end %>
    <hr>
    <h3>Science</h3>
    <% @students.each do |disp| %>
    <% if disp.Faculty == "Science" %>
        <svg width="<%=disp.Weight%>" height="<%=disp.Height%>">

            <% if disp.Gender == "Male" %>
                <rect width = "<%=disp.Weight%>" height="<%=disp.Height%>" style="fill:<%=disp.Colour%>;stroke-width:5;stroke:aqua" />    
                <text  x="12" y="12" text-anchor="start" alignment-baseline="start" fill="white"> 
                    <%= disp.Name %>, GPA: <%= disp.GPA %> 
                </text>
            <% end %>
            
            <% if disp.Gender == "Female" %>
                <rect width = "<%=disp.Weight%>" height="<%=disp.Height%>" style="fill:<%=disp.Colour%>;stroke-width:5;stroke:fuchsia" />    
                <text  x="12" y="12" text-anchor="start" alignment-baseline="start" fill="white"> 
                    <%= disp.Name %>, GPA: <%= disp.GPA %> 
                </text>
            <% end %>
            
            <% if disp.Gender == "Other" %>
                <rect width = "<%=disp.Weight%>" height="<%=disp.Height%>" style="fill:<%=disp.Colour%>;stroke-width:5;stroke:yellow" />    
                <text  x="12" y="12" text-anchor="start" alignment-baseline="start" fill="white"> 
                    <%= disp.Name %>, GPA: <%= disp.GPA %> 
                </text>
            <% end %>
            
        </svg>
        <% end %>
    <% end %>
<hr>
  <h3>Applied Sciences</h3>
    <% @students.each do |disp| %>
    <% if disp.Faculty == "Applied Sciences" %>
        <svg width="<%=disp.Weight%>" height="<%=disp.Height%>">

            <% if disp.Gender == "Male" %>
                <rect width = "<%=disp.Weight%>" height="<%=disp.Height%>" style="fill:<%=disp.Colour%>;stroke-width:5;stroke:aqua" />    
                <text  x="12" y="12" text-anchor="start" alignment-baseline="start" fill="white"> 
                    <%= disp.Name %>, GPA: <%= disp.GPA %> 
                </text>
            <% end %>
            
            <% if disp.Gender == "Female" %>
                <rect width = "<%=disp.Weight%>" height="<%=disp.Height%>" style="fill:<%=disp.Colour%>;stroke-width:5;stroke:fuchsia" />    
                <text  x="12" y="12" text-anchor="start" alignment-baseline="start" fill="white"> 
                    <%= disp.Name %>, GPA: <%= disp.GPA %> 
                </text>
            <% end %>
            
            <% if disp.Gender == "Other" %>
                <rect width = "<%=disp.Weight%>" height="<%=disp.Height%>" style="fill:<%=disp.Colour%>;stroke-width:5;stroke:yellow" />    
                <text  x="12" y="12" text-anchor="start" alignment-baseline="start" fill="white"> 
                    <%= disp.Name %>, GPA: <%= disp.GPA %> 
                </text>
            <% end %>
            
        </svg>
        <% end %>
    <% end %>


</div>







<br>

<p id="panel4head" class="flip" onclick="toggleFunction4()">Click to Display Students on the Dean's List</p>

<div id="panel4">
<h3>To qualify, the student must achieve a GPA higher than 3.5 out of a possible 4.33</h3>








    <% @students.each do |disp| %>
     <% if disp.GPA >= 3.5 %>
        <svg width="<%=disp.Weight%>" height="<%=disp.Height%>">

            <% if disp.Gender == "Male" %>
                <rect width = "<%=disp.Weight%>" height="<%=disp.Height%>" style="fill:<%=disp.Colour%>;stroke-width:5;stroke:aqua" />    
                <text  x="12" y="12" text-anchor="start" alignment-baseline="start" fill="white"> 
                    <%= disp.Name %>, GPA: <%= disp.GPA %> 
                </text>
            <% end %>
            
            <% if disp.Gender == "Female" %>
                <rect width = "<%=disp.Weight%>" height="<%=disp.Height%>" style="fill:<%=disp.Colour%>;stroke-width:5;stroke:fuchsia" />    
                <text  x="12" y="12" text-anchor="start" alignment-baseline="start" fill="white"> 
                    <%= disp.Name %>, GPA: <%= disp.GPA %> 
                </text>
            <% end %>
            
            <% if disp.Gender == "Other" %>
                <rect width = "<%=disp.Weight%>" height="<%=disp.Height%>" style="fill:<%=disp.Colour%>;stroke-width:5;stroke:yellow" />    
                <text  x="12" y="12" text-anchor="start" alignment-baseline="start" fill="white"> 
                    <%= disp.Name %>, GPA: <%= disp.GPA %> 
                </text>
            <% end %>
            
        </svg>
        <% end%>
    <% end %>





</div>















 













  <br>





<p id="panel5head" class="flip" onclick="toggleFunction5()">Click to Display Students Grouped by Body Mass Index (BMI)</p>

<div id="panel5">
  
  <h3>Underweight Students</h3>

    <% @students.each do |disp| %>
    <% if (4535.92*disp.Weight/(disp.Height*disp.Height)) < 18.5 %>
        <svg width="<%=disp.Weight%>" height="<%=disp.Height%>">

            <% if disp.Gender == "Male" %>
                <rect width = "<%=disp.Weight%>" height="<%=disp.Height%>" style="fill:<%=disp.Colour%>;stroke-width:5;stroke:aqua" />    
                <text  x="12" y="12" text-anchor="start" alignment-baseline="start" fill="white"> 
                    <%= disp.Name %>, GPA: <%= disp.GPA %> 
                </text>
                <text  x="30" y="30" text-anchor="start" alignment-baseline="start" fill="white"> 
                    BMI: <%= (4535.92*disp.Weight/(disp.Height*disp.Height)).round %>
                </text>
            <% end %>
            
            <% if disp.Gender == "Female" %>
                <rect width = "<%=disp.Weight%>" height="<%=disp.Height%>" style="fill:<%=disp.Colour%>;stroke-width:5;stroke:fuchsia" />    
                <text  x="12" y="12" text-anchor="start" alignment-baseline="start" fill="white"> 
                    <%= disp.Name %>, GPA: <%= disp.GPA %> 
                </text>
                <text  x="30" y="30" text-anchor="start" alignment-baseline="start" fill="white"> 
                    BMI: <%= (4535.92*disp.Weight/(disp.Height*disp.Height)).round %>
                </text>
            <% end %>
            
            <% if disp.Gender == "Other" %>
                <rect width = "<%=disp.Weight%>" height="<%=disp.Height%>" style="fill:<%=disp.Colour%>;stroke-width:5;stroke:yellow" />    
                <text  x="12" y="12" text-anchor="start" alignment-baseline="start" fill="white"> 
                    <%= disp.Name %>, GPA: <%= disp.GPA %> 
                </text>
                <text  x="30" y="30" text-anchor="start" alignment-baseline="start" fill="white"> 
                    BMI: <%= (4535.92*disp.Weight/(disp.Height*disp.Height)).round %>
                </text>
            <% end %>
            
        </svg>
        <% end %>
    <% end %>
<hr>
  <h3>Healthy Students (Normal Weight)</h3>
       <% @students.each do |disp| %>
     <% if (4535.92*disp.Weight/(disp.Height*disp.Height)) >= 18.5 %>
    <% if (4535.92*disp.Weight/(disp.Height*disp.Height)) < 25 %>
        <svg width="<%=disp.Weight%>" height="<%=disp.Height%>">

            <% if disp.Gender == "Male" %>
                <rect width = "<%=disp.Weight%>" height="<%=disp.Height%>" style="fill:<%=disp.Colour%>;stroke-width:5;stroke:aqua" />    
                <text  x="12" y="12" text-anchor="start" alignment-baseline="start" fill="white"> 
                    <%= disp.Name %>, GPA: <%= disp.GPA %> 
                </text>
                <text  x="30" y="30" text-anchor="start" alignment-baseline="start" fill="white"> 
                    BMI: <%= (4535.92*disp.Weight/(disp.Height*disp.Height)).round %>
                </text>
            <% end %>
            
            <% if disp.Gender == "Female" %>
                <rect width = "<%=disp.Weight%>" height="<%=disp.Height%>" style="fill:<%=disp.Colour%>;stroke-width:5;stroke:fuchsia" />    
                <text  x="12" y="12" text-anchor="start" alignment-baseline="start" fill="white"> 
                    <%= disp.Name %>, GPA: <%= disp.GPA %> 
                </text>
                <text  x="30" y="30" text-anchor="start" alignment-baseline="start" fill="white"> 
                    BMI: <%= (4535.92*disp.Weight/(disp.Height*disp.Height)).round %>
                </text>
            <% end %>
            
            <% if disp.Gender == "Other" %>
                <rect width = "<%=disp.Weight%>" height="<%=disp.Height%>" style="fill:<%=disp.Colour%>;stroke-width:5;stroke:yellow" />    
                <text  x="12" y="12" text-anchor="start" alignment-baseline="start" fill="white"> 
                    <%= disp.Name %>, GPA: <%= disp.GPA %> 
                </text>
                <text  x="30" y="30" text-anchor="start" alignment-baseline="start" fill="white"> 
                    BMI: <%= (4535.92*disp.Weight/(disp.Height*disp.Height)).round %>
                </text>
            <% end %>
            
        </svg>
        <% end %>
    <% end %>
    <% end %>
  
  <hr>
      <h3>Overweight Students</h3>
     <% @students.each do |disp| %>
     <% if (4535.92*disp.Weight/(disp.Height*disp.Height)) >= 25 %>
    <% if (4535.92*disp.Weight/(disp.Height*disp.Height)) < 30 %>
        <svg width="<%=disp.Weight%>" height="<%=disp.Height%>">

            <% if disp.Gender == "Male" %>
                <rect width = "<%=disp.Weight%>" height="<%=disp.Height%>" style="fill:<%=disp.Colour%>;stroke-width:5;stroke:aqua" />    
                <text  x="12" y="12" text-anchor="start" alignment-baseline="start" fill="white"> 
                    <%= disp.Name %>, GPA: <%= disp.GPA %> 
                </text>
                <text  x="30" y="30" text-anchor="start" alignment-baseline="start" fill="white"> 
                    BMI: <%= (4535.92*disp.Weight/(disp.Height*disp.Height)).round %>
                </text>
            <% end %>
            
            <% if disp.Gender == "Female" %>
                <rect width = "<%=disp.Weight%>" height="<%=disp.Height%>" style="fill:<%=disp.Colour%>;stroke-width:5;stroke:fuchsia" />    
                <text  x="12" y="12" text-anchor="start" alignment-baseline="start" fill="white"> 
                    <%= disp.Name %>, GPA: <%= disp.GPA %> 
                </text>
                <text  x="30" y="30" text-anchor="start" alignment-baseline="start" fill="white"> 
                    BMI: <%= (4535.92*disp.Weight/(disp.Height*disp.Height)).round %>
                </text>
            <% end %>
            
            <% if disp.Gender == "Other" %>
                <rect width = "<%=disp.Weight%>" height="<%=disp.Height%>" style="fill:<%=disp.Colour%>;stroke-width:5;stroke:yellow" />    
                <text  x="12" y="12" text-anchor="start" alignment-baseline="start" fill="white"> 
                    <%= disp.Name %>, GPA: <%= disp.GPA %> 
                </text>
                <text  x="30" y="30" text-anchor="start" alignment-baseline="start" fill="white"> 
                    BMI: <%= (4535.92*disp.Weight/(disp.Height*disp.Height)).round %>
                </text>
            <% end %>
            
        </svg>
        <% end %>
    <% end %>
    <% end %>
    
    


   <hr>
    
   <h3>Obese Students</h3>
 <% @students.each do |disp| %>
    <% if (4535.92*disp.Weight/(disp.Height*disp.Height)) >= 30 %>
        <svg width="<%=disp.Weight%>" height="<%=disp.Height%>">

            <% if disp.Gender == "Male" %>
                <rect width = "<%=disp.Weight%>" height="<%=disp.Height%>" style="fill:<%=disp.Colour%>;stroke-width:5;stroke:aqua" />    
                <text  x="12" y="12" text-anchor="start" alignment-baseline="start" fill="white"> 
                    <%= disp.Name %>, GPA: <%= disp.GPA %> 
                </text>
                <text  x="30" y="30" text-anchor="start" alignment-baseline="start" fill="white"> 
                    BMI: <%= (4535.92*disp.Weight/(disp.Height*disp.Height)).round %>
                </text>
            <% end %>
            
            <% if disp.Gender == "Female" %>
                <rect width = "<%=disp.Weight%>" height="<%=disp.Height%>" style="fill:<%=disp.Colour%>;stroke-width:5;stroke:fuchsia" />    
                <text  x="12" y="12" text-anchor="start" alignment-baseline="start" fill="white"> 
                    <%= disp.Name %>, GPA: <%= disp.GPA %> 
                </text>
                <text  x="30" y="30" text-anchor="start" alignment-baseline="start" fill="white"> 
                    BMI: <%= (4535.92*disp.Weight/(disp.Height*disp.Height)).round %>
                </text>
            <% end %>
            
            <% if disp.Gender == "Other" %>
                <rect width = "<%=disp.Weight%>" height="<%=disp.Height%>" style="fill:<%=disp.Colour%>;stroke-width:5;stroke:yellow" />    
                <text  x="12" y="12" text-anchor="start" alignment-baseline="start" fill="white"> 
                    <%= disp.Name %>, GPA: <%= disp.GPA %> 
                </text>
                <text  x="30" y="30" text-anchor="start" alignment-baseline="start" fill="white"> 
                    BMI: <%= (4535.92*disp.Weight/(disp.Height*disp.Height)).round %>
                </text>
            <% end %>
            
        </svg>
        <% end %>
    <% end %>
  
</div>





















<script>


function toggleFunction1() {
    if (document.getElementById("panel1").style.display == "block" ) {
       document.getElementById("panel1").style.display="none";
    }
    else {
      document.getElementById("panel1").style.display="block";
      }
}


function toggleFunction2() {
    if (document.getElementById("panel2").style.display == "block" ) {
       document.getElementById("panel2").style.display="none";
    }
    else {
      document.getElementById("panel2").style.display="block";
      }
}

function toggleFunction3() {
    if (document.getElementById("panel3").style.display == "block" ) {
       document.getElementById("panel3").style.display="none";
    }
    else {
      document.getElementById("panel3").style.display="block";
      }
}


function toggleFunction4() {
    if (document.getElementById("panel4").style.display == "block" ) {
       document.getElementById("panel4").style.display="none";
    }
    else {
      document.getElementById("panel4").style.display="block";
      }
}

function toggleFunction5() {
    if (document.getElementById("panel5").style.display == "block" ) {
       document.getElementById("panel5").style.display="none";
    }
    else {
      document.getElementById("panel5").style.display="block";
      }
}

</script>

</body>
</html>