<!DOCTYPE html>
<html>
<body id="showstudent">
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @student.Name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @student.Gender %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @student.Weight %>
</p>

<p>
  <strong>Height:</strong>
  <%= @student.Height %>
</p>

<p>
  <strong>Colour:</strong>
  <%= @student.Colour %>
</p>

<p>
  <strong>GPA:</strong>
  <%= @student.GPA %>
</p>

<p>
  <strong>Campus:</strong>
  <%= @student.Location %>
</p>

<p>
  <strong>Faculty:</strong>
  <%= @student.Faculty %>
</p>

<%# <%= link_to 'Edit', edit_student_path(@student) %> 
<%= link_to "<button>Home</button>".html_safe, students_path, :id=>"go-home-btn", :class=>"inbox-sf-add-btn tip" %>
<%# <%= link_to 'Home', students_path %>
</body>
</html>