// Place all the styles related to the students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
    
    height: 100%; 
    background-color: lightblue; 

    // margin-top: 40px;
    // margin-bottom: 40px;
    padding: 15px;
    font-family: "Arial";
}

#mainbody, #formstudent, #newstudent, #showstudent, #editstudent {
    background-color: white; 
    padding: 15px;
}

div {
    background-color: white; 
}


#mainh1, #h1new, #h1edit, h3 {
    text-decoration: none;
    color: #FF0099;
}

td {
    border: 1px solid silver;
    border-spacing: 0px;
    text-align: left;
}

th {
    height: 40px;
    border: 1px solid #CC66FF;
    background-color: #CC66FF;
    color: white;
    border-spacing: 0px;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 80%;
    text-decoration: none;
    font-size: 16px;
}

#panel1, .flip {
    font-size: 16px;
    padding: 10px;
    text-align: center;
    
    color: black;
    border: 1px solid silver;
    margin: auto;
}

#panel1 {
    display: none;
}

#panel1head {
    background-color: #33FFCC;
}



#panel2, .flip {
    font-size: 16px;
    padding: 10px;
    text-align: center;
    
    color: black;
border: 1px  solid silver;
    margin: auto;
}

#panel2 {
    display: none;
}

#panel2head {
  background-color: #FFCCFF;
}


#panel3, .flip {
    font-size: 16px;
    padding: 10px;
    text-align: center;
    
    color: black;
border: 1px  solid silver;
    margin: auto;
}

#panel3 {
    display: none;
}

#panel3head {
  background-color: #FFFFCC;
}

#panel4, .flip {
    font-size: 16px;
    padding: 10px;
    text-align: center;
    color: black;
    margin: auto;
    border: 1px  solid silver;
}

#panel4 {
    display: none;
}

#panel4head {
  background-color: #99FFFF;
}

#panel5, .flip {
    font-size: 16px;
    padding: 10px;
    text-align: center;
    color: black;
    margin: auto;
    border: 1px solid  silver;
}

#panel5 {
    display: none;
}

#panel5head {
  background-color: #FFCCCC;
}



button, #submit_class_1 {
    background-color: #006633 ; 
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#learnfeatures {
    background-color: #6633FF ; 
}

.floating-box {
    display: inline-block;

    margin: 10px;
    border: 3px solid Black;  
}